*,
body,
html {
  font-family: "Roboto", sans-serif;
}

.successPage {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.noBookings {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

.tableContainer {
  margin: 20px auto;
  max-width: 800px;
  overflow-x: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.bookingTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.bookingTable th,
.bookingTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.bookingTable th {
  background-color: #007bff;
  color: white;
}

.bookingTable tr:nth-child(even) {
  background-color: #f8f9fa;
}

.backButton {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.backButton:hover {
  background-color: #0056b3;
}
