{
  "openapi": "3.0.0",
  "info": {
    "title": "FanZoo API",
    "description": "API for booking athlete experiences",
    "version": "1.0.0",
    "contact": {
      "name": "FanZoo Support",
      "email": "support@fanzoo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.fanzoo.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/bookings": {
      "post": {
        "summary": "Create a new booking",
        "description": "Stores a new booking for an athlete experience after successful payment.",
        "operationId": "createBooking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "experienceId",
                  "userId",
                  "athlete",
                  "timestamp"
                ],
                "properties": {
                  "experienceId": {
                    "type": "string",
                    "example": "exp_107"
                  },
                  "userId": {
                    "type": "string",
                    "example": "test-user-id"
                  },
                  "athlete": {
                    "type": "string",
                    "example": "Tom Brady"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-01-30T19:24:59.634Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1b6a3440-caff-4cbd-a18f-748bd59d30df"
                    },
                    "experienceId": {
                      "type": "string",
                      "example": "exp_107"
                    },
                    "userId": {
                      "type": "string",
                      "example": "test-user-id"
                    },
                    "athlete": {
                      "type": "string",
                      "example": "Tom Brady"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-01-30T19:24:59.634Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., missing required fields)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Get all bookings",
        "description": "Fetches all bookings stored in the database.",
        "operationId": "getBookings",
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "1b6a3440-caff-4cbd-a18f-748bd59d30df"
                      },
                      "experienceId": {
                        "type": "string",
                        "example": "exp_107"
                      },
                      "userId": {
                        "type": "string",
                        "example": "test-user-id"
                      },
                      "athlete": {
                        "type": "string",
                        "example": "Tom Brady"
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-01-30T19:24:59.634Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Booking": {
        "type": "object",
        "required": [
          "experienceId",
          "userId",
          "athlete",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "1b6a3440-caff-4cbd-a18f-748bd59d39df"
          },
          "experienceId": {
            "type": "string",
            "example": "exp_201"
          },
          "userId": {
            "type": "string",
            "example": "test-user-id"
          },
          "athlete": {
            "type": "string",
            "example": "Conor McGregor"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-30T19:24:59.634Z"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}